.catalog-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 20px;
}

.catalog-card {
  max-width: 300px;
  border: 1px solid #b8b8b8;
  padding: 20px;
  border-radius: 20px;
}

.catalog-top img {
  border-radius: 20px;
}

.catalog-bottom a {
  display: block;
  font-size: 17px;
  color: rgb(57, 57, 57) !important;
  text-decoration: none;
  font-weight: 700;
  margin-bottom: 15px;
}

.card_img--wrapper {
  width: 100%;
  height: 150px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
}
.card-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.card-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.catalog-card .catalog-bottom {
  font-size: 12px;
}

.interactive-wrap {
  display: flex;
  justify-content: space-between;
}

.interactive-wrap a {
  font-weight: bolder;
  text-decoration: none;
}

.interactive-wrap a.active {
  color: #000;
  font-weight: bolder;
  text-decoration: none;
  cursor:default;
}